html {
	margin: 20px;
	background-color: #000000;
}

body {
	font-family: "san-serif";
	font-size: 1em;
	font-weight: 300;
	color: #333;
	line-height: 1.5em;
}

img {
	width: 100%;
}

h1 {
	text-align: center;
	padding-top: .75em;
	text-transform: uppercase;
	font-size: 2em;
	color: #ffd88e;
}

h2 {
	color: red;
	text-transform: uppercase;
}


#main {
	background-color: #ffffff;
	padding: 0em 1em 1em;
	padding-top: 10px;
}

#footer {
	color: #ffffff;
	text-align: center;
	font-size: 0.85em;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#items {
	float: left;
}

a:link, a:visited {
	display: block;
	width: 8em;
	font-weight: bold;
	color: #fff;
	background-color: #000;
	text-align: center;
}