html {
	margin: 20px;
	background-color: #000000;
}

body {
	font-family: "san-serif";
	font-size: 1em;
	font-weight: 300;
	color: #333;
	line-height: 1.5em;
}

img {
	width: 100%;
}

h1 {
	text-align: center;
	padding-top: 2em;
	text-transform: uppercase;
}

#main {

	padding-left:  1em;
}

h1 {font-size: 50px;
}

p{
	font-size: 20px;
}