html {
	margin: 20px;
	background-color: #EDF5C8;
}

body {
	font-family: "san-serif";
	font-size: 1em;
	font-weight: 300;
	color: #333;
	line-height: 1.5em;
}

#main {

	padding-left:  100px;
}

h1 {font-size: 50px;
}

p{
	font-size: 20px;
}